<ifModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^vrester-org.github.io
RewriteRule (.*) http://vrester-org.github.io$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3-9}\ /index.\.php\ HTTP/
RewriteRule ^index\.php$ http://vrester-org.github.io [R=301,L]
<IfModule>

ServerSignature Off
AddDefaultCharset UTF-8
